<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis本地补全-->
<configuration>
	<properties resource="db.properties" /> <!-- 加载属性值 -->
	<!-- 映射文件的输入输出类型别名-->
	<typeAliases>
		<package name="pers.river.pojo" /> <!-- 指定包名自动扫描，在使用别名时，直接用类名，首字母大小均可 -->
	</typeAliases>
	<!--1.配置环境 ，默认的环境id为mysql，使用Spring框架时environments数据库配置作废-->
	<environments default="mysql">
		<!--1.2.配置id为mysql的数据库环境 -->
		<environment id="mysql">
			<!-- 使用JDBC的事务管理 -->
			<transactionManager type="JDBC" />
			<!--数据库连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- 加载映射文件 -->
	<!--2.配置Mapper的位置 -->
	<mappers>
		<!-- <mapper resource="mapper/UserMapper.xml" /> -->
		<!--使用接口名的规则: 接口名和映射文件名相同，而且要求接口和该映射文件在同一个目录下,必须使用mapper代理方式-->
		<!--<mapper class="pers.river.mapper.PersonCardMapper" />-->
		<!--使用自动扫描的规则: 接口名和映射文件名相同，而且要求接口和该映射文件在同一个目录下-->
		<package name="pers.river.mapper" />
	</mappers>
</configuration>